<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }} | Macleod Sawyer</title>
        {% if page.description %}
            <meta name="description" content="{{ page.description}}">
        {% else %}
            <meta name="description" content="{{ page.content | truncate: 100 | strip_html}}">
        {% endif %}
    {% else %}
        <title>{{ site.name }}</title>
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    
    {% if page.image %}
        <meta property="og:image" content="{{ page.image }}" />
    {% else %}
        <meta property="og:image" content="/assets/img/15940676_10206328677334647_3195620230118504649_n[1].jpg" />
    {% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" 
href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>
    
    <div class="footer">
        <p>Original content on this site are CC <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">BY-NC-SA</a> licensed unless otherwise stated.</p>
    </div>

</body>

</html>
