<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
        {% assign truncatedContent = '' %}
        {% for paragraph in paragraphs limit:N %}
            <meta name="description" content="{{ truncatedContent | append: paragraph }}">
        {% endfor %}

    {% else %}
        <title>{{ site.name }}</title>
        <meta name="description" content="{{ site.description }}">

    {% endif %}

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" 
href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>
    
    <div class="footer">
        <p>Original content on this site are CC <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">BY-NC-SA</a> licensed unless otherwise stated.</p>
    </div>

</body>

</html>
